#NkPulBbLDg7ywAjv6FeZ ion-card {
    border-radius: 16px !important;
    margin: 0;
    background: transparent;
    /* max-width: 400px; */
}

#NkPulBbLDg7ywAjv6FeZ ion-card ion-card-header {
    --background: var(--ion-color-primary);
}

#NkPulBbLDg7ywAjv6FeZ ion-card ion-card-header ion-card-subtitle {
    color: #002e78;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 500;
}

#NkPulBbLDg7ywAjv6FeZ ion-card ion-card-header ion-card-title {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1.2px;
    display: flex;
    align-items: center;
    margin: 8px 0;
    color: #fff;
    white-space: nowrap;
}

#NkPulBbLDg7ywAjv6FeZ ion-card ion-card-header ion-card-title ion-icon {
    margin-right: 10px;
}

#NkPulBbLDg7ywAjv6FeZ ion-card ion-card-content {
    padding: 16px;
    background: #ffffff !important;
}

#NkPulBbLDg7ywAjv6FeZ ion-card ion-card-content ion-item {
    --background: transparent !important;
    --inner-padding-start: 0px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
}

#NkPulBbLDg7ywAjv6FeZ ion-card ion-card-content ion-item ion-avatar {
    width: 60px;
    height: 60px;
}

#NkPulBbLDg7ywAjv6FeZ ion-card ion-card-content ion-item ion-avatar img {
    border-radius: 50% !important;
}

#NkPulBbLDg7ywAjv6FeZ ion-card ion-card-content ion-item ion-icon {
    color: #b0ceff;
}

#NkPulBbLDg7ywAjv6FeZ ion-card ion-card-content ion-item ion-label {
    color: #4e4e4e;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1.4px;
    word-break: break-all;
    white-space: break-spaces;
    margin: 0px;
}

#NkPulBbLDg7ywAjv6FeZ ion-card ion-card-content ion-item ion-label span {
    display: block;
}

#NkPulBbLDg7ywAjv6FeZ ion-card ion-card-content .action {
    display: flex;
    justify-content: center;
    padding: 16px 0 0px;
}

#NkPulBbLDg7ywAjv6FeZ ion-card ion-card-content .action ion-button {
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 500;
}

#NkPulBbLDg7ywAjv6FeZ ion-card ion-card-content .action ion-button.accept {
    width: -webkit-fill-available;
    margin-right: 8px;
}

#FG6pmT3dZ2uqd9PWnlWo .widget {
    /* background: #212121; */
    border-radius: 16px !important;
    height: auto;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

#FG6pmT3dZ2uqd9PWnlWo .widget ion-item {
    --background: #2e2e2e !important;
    padding-bottom: 8px;
    --border-radius: 16px;
}

#FG6pmT3dZ2uqd9PWnlWo .widget ion-item:last-child {
    /* padding-bottom: 16px; */
}

#FG6pmT3dZ2uqd9PWnlWo .widget ion-item ion-avatar {
    padding: 8px;
    margin-right: 8px;
    background: transparent;
    width: 50px;
    height: 50px;
    --border-radius: 0px !important;
}

#FG6pmT3dZ2uqd9PWnlWo .widget ion-item ion-label {
    margin: 0 !important;
}

#FG6pmT3dZ2uqd9PWnlWo .widget ion-item ion-label .title {
    font-size: 1rem;
    color: #d1d1d1;
    font-weight: 600;
    letter-spacing: 1px;
}

#FG6pmT3dZ2uqd9PWnlWo .widget ion-item ion-label .sub-title {
    font-size: 0.9rem;
    color: #9d9d9d;
    display: block;
    font-weight: 500;
    letter-spacing: 0.9px;
    margin: 5px 0;
}