ion-content,
ion-toolbar,
#TIapJnqAtCEtfhCAtRzm {
    --background: #ededed !important;
}

@media (min-width: 992px) {

    ion-content,
    ion-toolbar {
        --background: var(--ion-color-light) !important;
    }
}

#TIapJnqAtCEtfhCAtRzm .login-bg {
    /* height: 100vh; */
    display: flex;
    align-items: center;
}

@media (min-width: 992px) {
    #TIapJnqAtCEtfhCAtRzm .login-bg {
        background: #f4f5f8;
    }
}

#TIapJnqAtCEtfhCAtRzm .login-bg form {
    width: 100%;
}

#TIapJnqAtCEtfhCAtRzm .login-bg .card {
    background-color: #ededed !important;
    border-radius: 20px;
    padding: 0px 25px;
    margin: 0;
}

@media (max-width: 767px) {
    #TIapJnqAtCEtfhCAtRzm .login-bg .card {
        height: 50vh;
    }
}

@media (min-width: 992px) {
    #TIapJnqAtCEtfhCAtRzm .login-bg .card {
        background-color: #fff !important;
    }
}

#TIapJnqAtCEtfhCAtRzm .login-bg .logo {
    height: 100px;
    width: 100%;
    margin: 15px 0;
}

#TIapJnqAtCEtfhCAtRzm .login-bg .title {
    font-weight: 500 !important;
    font-size: 1.25rem !important;
    letter-spacing: 1px;
    color: #212121 !important;
}

#TIapJnqAtCEtfhCAtRzm .login-bg ion-item {
    --border-radius: 10px;
    border-radius: 10px;
    --background: #ededed !important;
    --color: #212121 !important;
    letter-spacing: 1px;
    box-shadow: rgb(100 100 111 / 12%) 0px 7px 29px 0px;
    --border-color: transparent !important;
    --min-height: 0 !important;
    margin-bottom: 5px;
}

@media (min-width: 992px) {
    #TIapJnqAtCEtfhCAtRzm .login-bg ion-item {
        --background: #fff !important;
    }
}

#TIapJnqAtCEtfhCAtRzm .login-bg ion-item ion-label {
    padding: 2.5px 0px !important;
}

#TIapJnqAtCEtfhCAtRzm .login-bg a.fp {
    font-size: 0.8rem;
    letter-spacing: 1px;
    float: right;
    margin-top: 10px;
    text-decoration: none !important;
}

#TIapJnqAtCEtfhCAtRzm .login-bg .login-button,
#TIapJnqAtCEtfhCAtRzm .login-bg .back-button {
    font-weight: 600 !important;
    width: 100% !important;
    letter-spacing: 1px;
}

#TIapJnqAtCEtfhCAtRzm .login-bg .social ion-img {
    height: 26px;
}