ion-col {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

ion-row {
  align-items: center;
}

.table-header {
  border: solid 2px var(--ion-color-rose);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.table-body {
  border: solid 2px var(--ion-color-rose);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
