@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  --ion-color-rose: #ffc0e5;
  --ion-color-rose-rgb: 255, 192, 203;
  --ion-color-rose-contrast: #6a0567;
  --ion-color-rose-contrast-rgb: 0, 0, 0;
  --ion-color-rose-shade: #e6a8b7;
  --ion-color-rose-tint: #ffd1d9;

  --ion-color-violet: #e0c3fc;
  --ion-color-violet-rgb: 224, 195, 252;
  --ion-color-violet-contrast: #6a0567;
  --ion-color-violet-contrast-rgb: 0, 0, 0;
  --ion-color-violet-shade: #c6a8e6;
  --ion-color-violet-tint: #e5d0fd;

  --ion-color-skyblue: #87ceeb;
  --ion-color-skyblue-rgb: 135, 206, 235;
  --ion-color-skyblue-contrast: #062672;
  --ion-color-skyblue-contrast-rgb: 0, 0, 0;
  --ion-color-skyblue-shade: #6fb3d4;
  --ion-color-skyblue-tint: #99d4ec;

  --ion-color-amber: #ffd700;
  --ion-color-amber-rgb: 255, 215, 0;
  --ion-color-amber-contrast: #555506;
  --ion-color-amber-contrast-rgb: 0, 0, 0;
  --ion-color-amber-shade: #f2c464;
  --ion-color-amber-tint: #ffe57f;

  --ion-color-lime: #78e365;
  --ion-color-lime-rgb: 50, 205, 50;
  --ion-color-lime-contrast: #1a4d21;
  --ion-color-lime-contrast-rgb: 0, 0, 0;
  --ion-color-lime-shade: #36c267;
  --ion-color-lime-tint: #51d175;
}

.ion-color-rose {
  --ion-color-base: var(--ion-color-rose);
  --ion-color-base-rgb: var(--ion-color-rose-rgb);
  --ion-color-contrast: var(--ion-color-rose-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rose-contrast-rgb);
  --ion-color-shade: var(--ion-color-rose-shade);
  --ion-color-tint: var(--ion-color-rose-tint);
}

.ion-color-violet {
  --ion-color-base: var(--ion-color-violet);
  --ion-color-base-rgb: var(--ion-color-violet-rgb);
  --ion-color-contrast: var(--ion-color-violet-contrast);
  --ion-color-contrast-rgb: var(--ion-color-violet-contrast-rgb);
  --ion-color-shade: var(--ion-color-violet-shade);
  --ion-color-tint: var(--ion-color-violet-tint);
}

.ion-color-skyblue {
  --ion-color-base: var(--ion-color-skyblue);
  --ion-color-base-rgb: var(--ion-color-skyblue-rgb);
  --ion-color-contrast: var(--ion-color-skyblue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skyblue-contrast-rgb);
  --ion-color-shade: var(--ion-color-skyblue-shade);
  --ion-color-tint: var(--ion-color-skyblue-tint);
}

.ion-color-amber {
  --ion-color-base: var(--ion-color-amber);
  --ion-color-base-rgb: var(--ion-color-amber-rgb);
  --ion-color-contrast: var(--ion-color-amber-contrast);
  --ion-color-contrast-rgb: var(--ion-color-amber-contrast-rgb);
  --ion-color-shade: var(--ion-color-amber-shade);
  --ion-color-tint: var(--ion-color-amber-tint);
}

.ion-color-lime {
  --ion-color-base: var(--ion-color-lime);
  --ion-color-base-rgb: var(--ion-color-lime-rgb);
  --ion-color-contrast: var(--ion-color-lime-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lime-contrast-rgb);
  --ion-color-shade: var(--ion-color-lime-shade);
  --ion-color-tint: var(--ion-color-lime-tint);
}

ion-datetime {
  --background: #e1eaf6;
  --background-rgb: 42, 115, 138;

  border-radius: 16px;
  box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
}

ion-tabs {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}
body {
  background-color: azure;
}

html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);
  --ion-font-family: "Lexend";
}

ion-loading {
  --border-radius: 25px;
}
